<html>
     <!-- Se inicia <html>, siempre va al inicio de cualquier página web y </html> va siempre al final.-->
<head>
        <title>Django Girls blog</title>
    </head>  
    <!-- <head> para decirle el navegador acerca de la configuración de la página, es decir, el nombre en la pestaña del navegador -->
    
<body>
    <p>Hi there!</p> 
    <!-- esto se esta mostrando en internet en la pagina  -->
    <!-- <p> es una etiqueta para los elementos de párrafo -->
    <p>It works!</p>

    <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
</body>
    <!-- <body> para decir lo que realmente está en la página. -->

</html> 